{
    BasedOnStyle: "Google",
    AccessModifierOffset: -4,
    AlignTrailingComments: true,
    KeepEmptyLinesAtTheStartOfBlocks: true,
    ConstructorInitializerAllOnOneLineOrOnePerLine: true,
    ConstructorInitializerIndentWidth: 0,
    AllowShortIfStatementsOnASingleLine: true,
    AllowShortBlocksOnASingleLine : true,
    AllowShortLoopsOnASingleLine: false,
    BreakBeforeBinaryOperators: "NonAssignment",
    BinPackArguments: true,
    BreakBeforeBraces: "Linux",
    IndentCaseLabels: false,
    IndentCaseLabels: true,
    Language: "Cpp",
    NamespaceIndentation: "None",
    PointerBindsToType: true,
    SpaceBeforeAssignmentOperators: true,
    SpaceBeforeParens: "Never",
    SpacesInAngles: true,
    SpacesInParentheses: true,
    SpacesInSquareBrackets: false,
    SpacesInCStyleCastParentheses: false,
    TabWidth: 4,
    IndentWidth: 4,
    UseTab: "ForIndentation",
    ReflowComments:  true,
    ColumnLimit: 100,
    AlignOperands: true,
    ForEachMacros : ["FOR", "SCOPE_EXIT", "SCOPE_GUARD", "WITH", "SCOPED", "TEMPORARY_BLOCK",
                       "TEMPORARY_MEMORY_BLOCK", "MESH_STREAM_BLOCK", "LINE_MESH_STREAM_BLOCK",
                       "RENDER_COMMANDS_STATE_BLOCK", "zip_for", "bounded_while"],

    AlignConsecutiveAssignments: true,
    AlignConsecutiveDeclarations : false,
    AlignAfterOpenBracket: "Align",
    AllowShortCaseLabelsOnASingleLine: true,
    BinPackParameters: true,
    AlwaysBreakTemplateDeclarations: true,
    BreakBeforeTernaryOperators: true,
    SortIncludes: false,
}
